
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#canvas {
  width: 800px;
  height: 600px;
  border: 1px solid #aaa;
}

#canvas:focus {
  outline: 0;
}

.stat {
  line-height: 1.5em;
}

.counter {
  font-weight: bold;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 20px;
  width: 180px;
  text-align: right;
  border-left: 1px solid #aaa;
  background-color: #eee;
}

.right {
  right: 0;
}