
*, *::before, *::after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
}

h1 {
  margin: 14px 0;
  font-size: 28px;
  font-weight: bold;
}

h1, p {
  color: #333;
}

#canvas {
  width: 800px;
  height: 600px;
  border: 1px solid #aaa;
}

#canvas:focus {
  outline: 0;
}

.group {
  margin: 5px 0;
  padding: 5px 0;
  border: solid #aaa;
  border-width: 1px 0;
}

.stat {
  line-height: 1.5;
}

.counter {
  font-weight: bold;
}

.main {
  margin: 15px;
}

.sidebar.right + .container {
  margin-right: 240px;
}

.sidebar.right.closed + .main {
  margin-right: 60px;
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.sidebar.right {
  right: 0;
  margin-left: 60px;
}

.sidebar .content {
  padding: 0 20px;
  width: 240px;
  height: 100%;
  text-align: right;
  border-left: 1px solid #aaa;
  background-color: #eee;
  overflow: hidden;
}

.sidebar.closed .content {
  display: none;
}

.sidebar h1 {
  text-align: center;
}

.toggle {
  position: absolute;
  margin: 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 40px;
  text-align: center;
  line-height: 40px;
}

.toggle::before {
  content: "\27ad";
  position: relative;
  top: -1px;
}

.toggle:hover {
  box-shadow: 0px 0px 6px -1px #aaa;
}

.sidebar.closed > .toggle {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.sidebar.right > .toggle {
  right: 240px; /* .sidebar{width} + {width} */
}

.sidebar.right.closed > .toggle {
  right: 0;
}